/* Base
/* ============================================================================ */

.site.noscroll {
    overflow: hidden;
}

.contain-center {
    box-sizing: content-box;
    max-inline-size: var(--max-inline-size);
    margin-inline: auto;
    padding-inline-start: var(--space-around-m);
    padding-inline-end: var(--space-around-m);
}

.page-wrapper {
    padding-block-start: var(--header-height);
}

/* Header
/* ============================================================================ */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    min-height: var(--header-height);
    background-color: var(--color-gray-1);
}

.page-header__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

/* ------------------------------------------------ */

.page-logo {
    margin-block: calc(var(--space-around-m)/2);
    margin-inline-end: auto;
    width: 120px;
}

.page-logo img {
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: 900px) {

    .page-logo {
        width: 160px;
    }

}

/* ------------------------------------------------ */

/* Navbar
/* ============================================================================ */

.mainnav-btn {
    background: #666;
    height: 40px;
    width: 40px;
}

/* Mobile
/* ------------------------------------------------ */

@media (max-width: 899px) {

    .mainnav-btn {
        display: block;
        z-index: 9999;
    }

    .page-mainnav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        z-index: 100;
        overflow-x: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s;
        background-color: var(--color-gray-1);
    }

    .page-mainnav.is-open {
        height: 100dvh;
        opacity: 1;
        pointer-events: initial;
    }

    .page-mainnav__nav-list {
        overflow: hidden;
        margin-inline-start: 3rem;
        margin-block-start: 5rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
    }

    .page-mainnav.is-open .page-mainnav__nav-list {
        overflow-y: auto;
    }

    .page-mainnav__nav-list a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.3em;
        color: #2c2c2c;
        padding-block: .25rem;
    }

    .page-subnav {
        display: none;
    }

}

/* Desktop
/* ------------------------------------------------ */

@media (min-width: 900px) {

    .mainnav-btn {
        display: none;
    }

    .page-mainnav {
        position: static;
        align-self: flex-end;
    }
    
    .page-mainnav__nav-list {
        display: flex;
        flex-wrap: nowrap;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .page-mainnav__nav-list .nav-item {
        flex-shrink: 0;
    }
    
    .page-mainnav__nav-list .nav-item > a {
        display: inline-block;
        padding: 0 .9rem calc(var(--header-height)/2.5);
        font-size: 1em;
        font-weight: 400;
        color: rgb(59, 59, 59);
        text-decoration: none;
        transition: color .1s ease-in-out;
    }
    .page-mainnav__nav-list .nav-item > a:hover,
    .page-mainnav__nav-list .nav-item > a:focus,
    .page-mainnav__nav-list .nav-item > a:active {
        color: rgb(20, 116, 203);
    }
    
    .page-subnav {
        background-color: var(--color-gray-2);
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transition-delay: 300ms;
    }
    
    .page-mainnav__nav-list .nav-item:hover .page-subnav {
        grid-template-rows: 1fr;
        opacity: 1;
    }
    
    .page-subnav__inner {
        display: flex;
        justify-self: center;
        justify-content: flex-end;
        overflow: hidden;
        width: 100%;
        max-width: calc(var(--max-inline-size) + 14rem);
    }
    
    .page-subnav__nav-list {
        display: flex;
        flex-direction: row;
        margin-block: .7rem;
        margin-inline-start: calc(var(--space-around-m)/2);
        margin-inline-end: calc(var(--space-around-m));
        opacity: 0;
        transform: translateY(-5px);
        transform-origin: top;
        transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
        transition-delay: 300ms;
    }
    
    .page-mainnav__nav-list .nav-item:hover .page-subnav .page-subnav__nav-list {
        opacity: 1;
        transform: translateY(0);
    }
    
    .page-subnav__nav-list li a {
        color: white;
        font-size: .9em;
        font-weight: 400;
        margin-inline: 1rem;
        text-decoration: none;
        transition: color .1s ease-in-out;
    }

    .page-subnav__nav-list li a:hover,
    .page-subnav__nav-list li a:focus,
    .page-subnav__nav-list li a:active {
        color: #b8b8b8;
    }

}




/* Hero
/* ============================================================================ */

.page-hero {
    background-color: silver;

    min-height: 300px;
}

/* Content
/* ============================================================================ */

.page-content > * {
    background-color: aquamarine;
}