/* Base
/* ============================================================================ */

.contain-center {
    box-sizing: content-box;
    max-inline-size: var(--max-inline-size);
    margin-inline: auto;
    padding-inline-start: var(--space-around-m);
    padding-inline-end: var(--space-around-m);
}

.page-wrapper {
    padding-block-start: var(--header-height);
}

/* Header
/* ============================================================================ */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    min-height: var(--header-height);
    background-color: var(--color-gray-1);
}
.page-header__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.page-logo {
    height: 75px;
    margin-block: calc(var(--space-around-m)/2);
}
.page-logo img {
    max-height: 100%;
    outline: 1px solid red;
}

/* Navbar
/* ============================================================================ */

.page-mainnav {
    background-color: yellow;

    align-self: flex-end;
    margin-left: auto;
}

.page-mainnav__nav-list {
    display: flex;
    flex-wrap: nowrap;
}

.page-mainnav__nav-list .nav-item {
    flex-shrink: 0;
}

.page-mainnav__nav-list .nav-item > a {
    display: inline-block;
    padding: 0 1rem calc(var(--header-height)/2.5);
}



.page-subnav {
    background-color: var(--color-gray-2);

    position: absolute;
    left: 0;
    right: 0;

    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
    transition-delay: 300ms;

}

.page-mainnav__nav-list .nav-item:hover .page-subnav {
    grid-template-rows: 1fr;
}

.page-subnav__inner {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-start;
    overflow: hidden;
    min-width: var(--max-inline-size);
}

.page-subnav__nav-list {
    display: flex;
    background-color: yellow;
    margin-block: 1rem;
}

.page-subnav__nav-list li {
    outline: 1px solid black;
}


/* Hero
/* ============================================================================ */

.page-hero {
    background-color: silver;

    min-height: 300px;
}

/* Content
/* ============================================================================ */

.page-content > * {
    background-color: aquamarine;
}